:root{
	--bg-color:#13aff0;
	--svg-color:#ffffff;
}

.fw-button-container{
    border-radius: 5px;
    text-align: center;
    position: absolute;
    z-index: 1000;
	width:35px;
	height:35px;
	cursor: pointer;
	top: 0;
    left: 0;
	text-align: center;

    transform: translate(50%, 50%);
	
	background-color: rgba(0,0,0,0.5);
    
	transition: all 0.5s;
}

.fw-button-container:hover{
	background-color: var(--bg-color);
	
    transition: all 0.5s;
}

.fw-button-container img{
    max-height: 80%;
    max-width: 80%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
	filter: invert(1);
}

.hidden{
	display: none;
}

.fw-svg-icon {
	width: 70%;
    height: 70%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.fw-svg-icon path,polygon,rect {
	fill: var(--svg-color);
	stroke: var(--svg-color);
    stroke-width: 0.65;
}

.fw-svg-icon circle {
  stroke: var(--svg-color);
  stroke-width: 1;
}